.contacts__adress {
  padding-top: 28px;
  background-color: @main-color-background;

  &-title {
    margin: 0;
    padding: 0;
    .main-font(regular);
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
  }

  &-subtitle {
    margin: 0;
    padding: 0;
    .extra-font();
    font-size: 14px;
    line-height: 20px;
    color: @special-color-gray;
  }
}

.contacts__map {
  margin: 0;
  padding: 0;
}
