.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (min-width: @tablet-width) {
    gap: 24px;
  }
}

.copyright__link {
  .extra-font();
  font-size: 16px;
  line-height: 18px;
  color: @special-color-gray;
  text-decoration: none;
}
