.extra-products {
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    margin-bottom: 76px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 86px;
  }
}

.extra-products__wrapper {
  padding-top: 31px;

  @media (min-width: @tablet-width) {
    padding-top: 77px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 78px;
    display: flex;
    justify-content: space-between;
    column-gap: 80px;
  }
}

.extra-products__title {
  margin: 0;
  padding: 0;
  .main-font(regular);
  font-size: 24px;
  line-height: 24px;
  display: inline;
  position: relative;

  &::after {
    content: "";
    height: 2px;
    width: calc(100vw - 100% - 22px - 20px);
    background-color: @basic-green;
    position: absolute;
    left: calc(100% + 22px);
    top: 20px;
  }

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-left: 36px;

    &::after {
      width: calc(100vw - 100% - 36px - 30px);
      left: calc(100% + 36px);
      top: 30px;
    }

    &::before {
      content: "";
      height: 2px;
      background-color: @basic-green;
      position: absolute;
      width: 30px;
      left: -30px;
      top: 30px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;

    &::before {
      width: 70px;
      left: -110px;
    }

    &::after {
      width: calc(100vw - 100% - 110px - 35px);
      left: calc(100% + 35px);
    }
  }

  @media (min-width: @max-width) {
    &::before {
      left: auto;
      right: calc(100% + 40px);
      width: calc((100vw - @max-width + 220px) / 2 - 40px);
    }

    &::after {
      width: calc((100vw - 100% - 110px - 35px) - (100vw - @max-width) / 2);
      left: calc(100% + 35px);
    }
  }
}

.extra-products__list {
  margin: 0;
  padding: 0;
  margin-bottom: 39px;
  list-style-type: none;
  border-top: 1px solid @border-color;

  @media (min-width: @tablet-width) {
    margin-bottom: 68px;
    border: 1px solid @border-color;
    border-bottom: none;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    flex-grow: 1;
    border-left: none;
    border-right: none;
  }
}

.extra-products__item {
  padding-top: 13px;
  padding-bottom: 18px;
  border-bottom: 1px solid @border-color;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 25px;
    padding-bottom: 28px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
    padding-right: 0;
    padding-top: 14px;
    padding-bottom: 17px;
    justify-content: flex-end;
    align-items: center;
  }
}

.extra-products__name {
  margin: 0;
  padding: 0;
  .main-font(regular);
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @special-color-dark;

  @media (min-width: @tablet-width) {
    margin-bottom: 27px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    margin-right: auto;
  }
}

.extra-products__block {
  display: flex;
  justify-content: space-between;
  padding-top: 13px;
  padding-bottom: 15px;

  @media (min-width: @tablet-width) {
    padding-top: 4px;
    padding-bottom: 0;
    column-gap: 50px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 2px;
    flex-basis: 288px;
  }
}

.extra-products__description,
.extra-products__price {
  margin: 0;
  padding: 0;
  .extra-font();
  font-size: 14px;
  line-height: 14px;
  color: @special-color-gray;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.extra-products__link-order {
  padding-top: 10px;
  padding-bottom: 9px;
  .main-font(regular);
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: @extra-color-text;
  background-color: @basic-green;

  @media (min-width: @tablet-width) {
    padding-top: 9px;
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 38px;
    width: 244px;
  }
}

.extra-products__link-order:hover,
.extra-products__link-order:focus {
  background-color: @basic-green-2;
}

.extra-products__link-order:active {
  color: fade(@extra-color-text, 30%);
}
