.page-header {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-top: 26px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 54px;
  }

  @media (max-width: @mobile-width-only) {
    position: relative;

    &::before {
      content: "";
      height: 1px;
      background-color: @border-menu-gray;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.page-header__logo {
  padding-top: 13px;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;

  @media (min-width: @tablet-width) {
    padding: 0;
    display: flex;
  }
}

.page-header__logo-text-link {
  justify-self: center;

  @media (min-width: @tablet-width) {
    margin-left: 8px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 12px;
  }
}

.page-header__logo-text {
  @media (min-width: @desktop-width) {
    width: 118px;
    height: 21.54px;
  }
}

.page-header__menu-button {
  position: absolute;
  top: 23px;
  right: 20px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
