.site-nav-menu {
  background-color: @main-color-background;
}

.site-nav-menu__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: none;

  &--open {
    display: block;
  }
}


.site-nav-menu__link {
  display: block;
  padding-top: 22px;
  padding-bottom: 24px;
  .main-font(medium);
  color: @main-color-text;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;

  outline: 1px solid red;
  outline-offset: -1px;
}
