
.slider__wrapper {
  margin: 0;
  display: grid;
  grid-template-columns: 100% 0%;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    width: 708px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 50% 50%;
  }

  @media (min-width: @desktop-width) {
    width: 650px;
    grid-template-columns: 56% 44%;
  }
}

.slider__item {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 19px;
  text-align: center;

  @media (min-width: @tablet-width) {
    height: 525px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 30px;
  }
}

.slider__image {
  margin-left: -20px;

  @media (min-width: @tablet-width) {
    margin: 0;

  }
}

.slider__image--before {
  @media (min-width: @tablet-width) {
    position: absolute;
    left: 15px;
  }

  @media (min-width: @desktop-width) {
    left: 0px;
  }
}

.slider__image--after {
  @media (min-width: @tablet-width) {
    position: absolute;
    right: 55px;
  }

  @media (min-width: @desktop-width) {
    right: 14px;
  }
}

.slider__toggles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 45px;
  padding-right: 38px;

  @media (min-width: @tablet-width) {
    padding-left: 67px;
    padding-right: 69px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 79px;
    padding-right: 0;
  }
}

.slider__toggles-bar {
  height: 14px;
  box-sizing: border-box;
  margin-left: 16px;
  margin-right: 16px;
  padding: 4px 6px;
  flex-grow: 1;
  border-radius: 12px;
  border: 2px solid @border-color;
  background-color: @main-color-background;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {
    background-color: @border-color-2;
    margin-left: 24px;
    margin-right: 20px;
    padding: 0;
    height: 6px;
    border: none;
  }
}

.slider__toggle {
  margin: 0;
  padding: 0;
  border: none;
  width: 50%;
  height: 6px;
  border-radius: 12px;
  background-color: @basic-green;

  @media (min-width: @tablet-width) {
    margin-left: auto;
    margin-right: auto;
    width: 34px;
    height: 34px;
    border: 1px solid @border-color;
    border-radius: 50%;
    background-color: @main-color-background;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.16));
    position: relative;

    &::before {
      content: "";
      width: 8px;
      height: 8px;
      background-color: @basic-green;
      border-radius: 50%;
      position: absolute;
      top: calc(50% - 4px);
      left: calc(50% - 4px);
    }
  }
}

.slider__toggle--current {
  background-color: @basic-green;

  @media (min-width: @tablet-width) {
    background-color: @main-color-background;
    position: relative;


  }
}

.slider__toggles-before-text,
.slider__toggles-after-text {
  .main-font(regular);
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dashed @border-gray;
  }
}
