.social {
  padding-right: 4px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 34px;

  @media (min-width: @tablet-width) {
    padding-right: 0;
    margin-left: 20px;
    flex-wrap: nowrap;
    gap: 24px;
    align-items: flex-end;
  }
}

.social__picture--vk {
  fill: @special-color-gray-2;

  @media (min-width: @tablet-width) {
    width: 30px;
    height: 22px;
  }
}

.social__picture--instagram {
  fill: @special-color-gray-2;

  @media (min-width: @tablet-width) {
    width: 23px;
    height: 23px;
  }
}

.social__picture--facebook {
  stroke: @special-color-gray-2;

  @media (min-width: @tablet-width) {
    width: 20px;
    height: 28px;
  }
}

.social__link:not(.social__link--facebook):hover .social__picture,
.social__link:not(.social__link--facebook):focus .social__picture {
  fill: @basic-green;
}

.social__link.social__link--facebook:hover .social__picture,
.social__link.social__link--facebook:focus .social__picture {
  stroke: @basic-green;
}

.social__link:active .social__picture {
  opacity: 0.3;
}
