.social {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 34px;

  @media (min-width: @tablet-width) {
    flex-wrap: nowrap;
  }
}

.social__picture-path {
  stroke: @special-color-gray-2;
}
