// colors
@main-color-text: #000000;
@extra-color-text: #ffffff;
@special-color-gray: #444444;
@special-color-gray-2: #666666;
@special-color-gray-3: #ebebeb;
@special-color-dark: #222222;
@main-color-background: #ffffff;
@main-button-color: #68B738;
@plus-color: #D3D3D3;
@basic-gray: #f2f2f2;
@extra-gray: #EAEAEA;
@border-gray: #D9D9D9;
@border-gray-2: #e7e7e7;
@radio-hover-color: #BABABA;
@border-menu-gray: #e6e6e6;
@border-color: #CDCDCD;
@border-color-2: #dcdcdc;
@basic-green: #68B738;
@basic-green-2: #5EAA2F;
@background-green: rgba(104, 183, 56, 0.85);
@control-slider-hover: rgba(0, 0, 0, 0.4);
@error-color: #FF8282;
@tablet-width: 768px;
@desktop-width: 1440px;
@max-width: 1920px;
@mobile-width-only: 767px;
@mobile-content-width: 280px;
